@import './utils/variables';
// @use './utils/variables';

body {
  height: 100vh;
  background-color: rgb(48, 46, 46);

  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  box-sizing: border-box;
  width: 726px;
  padding: 10px;

  display: flex;
  flex-wrap: wrap;
  gap: 1px;

  background-color: blueviolet;

  &__container {
   
  }
  
  &__day {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 500ms;
  }
  
  &__day:hover {
    cursor: pointer;
    background-color: #FFBFCB;
    transform: translate(0, -20px);
  }
  
  @for $date from 1 through 31 {
    &__day:nth-child(#{$date})::before {
      content: '#{$date}';
      font-family: Arial;
      font-size: 30px;
    }
  }

  @each $day, $value in $calendar-start-day {
    &--start-day-#{$day} :first-child {
      margin-left: $value;
    }
  }


  &--month-lenght {

  }
}


