$one-day: 101px;
$calendar-start-day: (
  'sunday': $one-day * 6,
  'monday': 0,
  'tuesday': $one-day, 
  'wednesday': $one-day * 2,
  'thursday': $one-day * 3,
  'friday': $one-day * 4,
  'saturday': $one-day * 5
);
$month-length-31: 31;
$month-length-30: 30;
$month-length-29: 29;
$month-length-28: 28;
