$one-day: 101px;
  
$monday: 0;
$tuesday: $one-day;
$wednesday: $one-day * 2;
$thursday: $one-day * 3;
$friday: $one-day * 4;
$saturday: $one-day * 5;
$sunday: $one-day * 6;

$days: $monday, $tuesday, $wednesday, $thursday, $friday, $saturday, $sunday;


